body {
    background-color: rgb(114, 125, 189);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.container {
  width: 600px;
  min-height: 250px;
  margin: auto;
  background: rgb(114, 125, 189);
  color: white;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#titulo {
    font-size: 2em;
    font-family: cursive;
    
}
img {
    width: 60%;
    height: auto;
    display: inline-block;
}

#cita {
    font-family: 'Times New Roman', Times, serif;
    font-display: swap;
    right: 50%;
    font-style: italic;
}

#traduccion {
    font-family: serif;
    font-size: smaller;
}

#hilosCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
}