body {
  background: #e9baba;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 30px;
}

.img-container {
  position: relative;
  display: inline-block;
}

#titulo {
    font-family: 'Times New Roman', Times, serif;
    color: #cf7b7b;
    font-size: 3em;
}
img {
  width: 1000px;
  height: auto;
  border-radius: 10px;
}

#lupa {
  position: absolute;
  border: 3px solid #000;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: none;
  pointer-events: none;
  background-repeat: no-repeat;
}