body {
    background-color: olive;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.container {
  width: 600px;
  min-height: 250px;
  margin: auto;
  background: olive;
  color: white;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#titulo {
    font-size: 2em;
    font-family: cursive;
    
}
img {
    width: 50%;
    height: auto;
    display: inline-block;
    position: center;
    align-items: center;
    justify-content: center;

}

#cita {
    font-family: 'Times New Roman', Times, serif;
    font-display: swap;
    right: 50%;
    font-style: italic;
}


#hojas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;   /* No bloquea clics */
  overflow: hidden;
}

.hoja {
  position: absolute;
  top: -50px;
  font-size: 24px;
  animation: caer 5s linear infinite;
  color: rgba(255, 255, 255, 0.8); /* Puedes cambiar color */
}

@keyframes caer {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}