body {
    background-color: olive;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.container {
  width: 600px;
  min-height: 250px;
  margin: auto;
  background: olive;
  color: white;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
#titulo {
    font-size: 2em;
    font-family: cursive;
    
}
img {
    width: 40%;
    height: auto;
    display: flex;
    position: center;
    align-items: center;
    justify-content: center;
}

#cita {
    font-family: 'Times New Roman', Times, serif;
    font-display: swap;
    right: 50%;
    font-style: italic;
}